/* W3 CSS Default Values */

  .h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgba(9, 12, 169, 0.525);
  }

  .h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

    /* color gradient for text elements */
    background-image:linear-gradient(90deg,rgb(219, 71, 8),rgb(199, 21, 133),rgb(240, 173, 30));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgba(27, 21, 199, 0.428);
  }

  .h4 {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  .p.indent {
    margin-left: 4em
  }

  p {
    margin-left: 2em
  }

  #indent {
    margin-left: 6em
  }

  p + p {
    font-style: italic;
  }

/* Tables */

  .table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: rgba(2, 21, 164, 0.458);
  }

  .tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .td{
    display: table-cell;
    vertical-align: inherit;
  }

/* Table spacing */

/*table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}*/

.thead th:nth-child(1) {
  width: 15%;
}

.thead th:nth-child(2) {
  width: 25%;
}

.thead th:nth-child(3) {
  width: 25%;
}

.thead th:nth-child(4) {
  width: 25%;
}

.th,
.td {
  padding: 20px;
}

/* Illustrations */

.img {
  display: inline-block;
}

/* Responsive iframes */

  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .lia-quote {
    /*background-color: rgba(98, 90, 205, 0.467);
    font: 14px/20px italic Times, serif; */
    padding-left: 70px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 10px;
    border-top: 1px solid #3da1e8;
    border-bottom: 1px solid #085ddd;
    margin: 5px;
    background-position: middle left;
    background-repeat: no-repeat;
    text-indent: 23px;
  }

  .blockquote {
    /* background-color: rgba(90, 148, 205, 0.702);
    font: 14px/20px italic Times, serif; */
    padding-left: 70px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 10px;
    border-top: 1px solid #3da1e8;
    border-bottom: 1px solid #085ddd;
    margin: 5px;
    background-position: middle left;
    background-repeat: no-repeat;
    text-indent: 23px;
  }

  .custom-block.info {
    border-color: var(--vp-custom-block-info-border);
    color: #085ddd;
    background-color: var(--vp-custom-block-info-bg);
  }